<mat-toolbar class="header mat-elevation-z4">

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-4">
          <span>
            <div class="container">
              <span class="wallOrange">
                <p class="nameUser">Livescores</p>
              </span>
            </div>
          </span>
          <span class="title-group">
            <a></a>
          </span>
        </div>
        <div class="col-sm-4">
          <span>
            <div>
              <input type="text" class="search-bar" placeholder="Pesquisar">
              <i class='fas fa-search' id="search-icon"></i>
            </div>
          </span>
        </div>
        <div class="col-sm-4">
          <span class="user-notification">
            <img src="../../../../assets/img/menu.png" alt="">
          </span>
        </div>
      </div>
    </div>
  </div>

</mat-toolbar>


<!-- <mat-toolbar class="header mat-elevation-z4">
  <span>
    <a routerLink="/">
      <img class="logo" src="assets/img/logo.png" alt="logo">
    </a>
  </span>
  <span class="title-group">
    <a routerLink="{{ routeUrl }}">
      <i class="material-icons">
        {{ icon }}
      </i>
      {{ title }}
    </a>
  </span>
</mat-toolbar> -->