<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav nav-position" mode="side" opened="opened" fixedInViewport="true">
    <mat-nav-list class="nav-list">
      <div class="container">
        <a routerLink="/">
          <img class="logo" src="../../../../assets/img/logo_Play.png" alt="logo">
        </a>
      </div>
      <a mat-list-item="mat-list-item" routerLink="/">
        <div class="icons selection" data-toggle="tooltip" data-placement="right" title="Jogos de Futebol">
          <i class='far fa-futbol' style='font-size:24px'></i>
        </div>
      </a>
      <a mat-list-item="mat-list-item" routerLink="/products">
        <div class="icons" data-toggle="tooltip" data-placement="right" title="Jogos de Basquete">
          <i class='fas fa-basketball-ball' style='font-size:24px'></i>
        </div>
      </a>
      <a mat-list-item="mat-list-item" routerLink="">
        <div class="icons" data-toggle="tooltip" data-placement="right" title="Jogos de Futebol Americano">
          <i class="fas fa-football-ball" style='font-size:24px'></i>
        </div>
      </a>
      <a mat-list-item="mat-list-item" routerLink="">
        <div class="icons" data-toggle="tooltip" data-placement="right" title="Jogos de Esqui">
          <i class="fas fa-skiing" style='font-size:24px'></i>
        </div>
      </a>
      <a mat-list-item="mat-list-item" routerLink="">
        <div class="icons" data-toggle="tooltip" data-placement="right" title="Jogos de Ping-Pong">
          <i class='fas fa-table-tennis' style='font-size:24px'></i>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-sidenav-container class="container2">
  <mat-sidenav class="sidenav2 nav-position2" mode="side" opened="opened" fixedInViewport="true">
    <mat-nav-list class="nav-list">
      <a mat-list-item="mat-list-item list-group-item" routerLink="/">
        <div class="position" data-toggle="tooltip" data-placement="right" title="Jogos de Futebol">
          <i class='fas fa-external-link-alt' style='font-size:14px;color:#ccc;'></i>
        </div>
      </a>

      <a mat-list-item="mat-list-item list-group-item" routerLink="/">
        <div class="position" data-toggle="tooltip" data-placement="right" title="Jogos de Futebol">
          <img src="../../../../assets/img/Bundesliga.png" class="logo-liga" alt="">
        </div>
      </a>
      <a mat-list-item="mat-list-item list-group-item" routerLink="/">
        <div class="position" data-toggle="tooltip" data-placement="right" title="Jogos de Futebol">
          <img src="../../../../assets/img/Chamoions_League.png" class="logo-liga" alt="">
        </div>
      </a>
      <a mat-list-item="mat-list-item list-group-item" routerLink="/">
        <div class="position" data-toggle="tooltip" data-placement="right" title="Jogos de Futebol">
          <img src="../../../../assets/img/Libertadore.png" class="logo-liga" alt="">
        </div>
      </a>
      <a mat-list-item="mat-list-item list-group-item" routerLink="/">
        <div class="position" data-toggle="tooltip" data-placement="right" title="Jogos de Futebol">
          <img src="../../../../assets/img/Liga.png" class="logo-liga" alt="">
        </div>
      </a>
      <a mat-list-item="mat-list-item list-group-item" routerLink="/">
        <div class="position" data-toggle="tooltip" data-placement="right" title="Jogos de Futebol">
          <img src="../../../../assets/img/Bundesliga.png" class="logo-liga" alt="">
        </div>
      </a>
      <a mat-list-item="mat-list-item list-group-item" routerLink="/">
        <div class="position" data-toggle="tooltip" data-placement="right" title="Jogos de Futebol">
          <img src="../../../../assets/img/Chamoions_League.png" class="logo-liga" alt="">
        </div>
      </a>
      <a mat-list-item="mat-list-item list-group-item" routerLink="/">
        <div class="position" data-toggle="tooltip" data-placement="right" title="Jogos de Futebol">
          <img src="../../../../assets/img/Libertadore.png" class="logo-liga" alt="">
        </div>
      </a>
      <a mat-list-item="mat-list-item list-group-item" routerLink="/">
        <div class="position" data-toggle="tooltip" data-placement="right" title="Jogos de Futebol">
          <img src="../../../../assets/img/Liga.png" class="logo-liga" alt="">
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>